@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

#box-top{
    padding-top: 50px;
}
#box-mid{
    padding-top: 20px;
    padding-bottom: 20px;
}
#box-message{
    word-wrap:break-word;
}
#show-message{
    border: 1px solid black;
    padding-top:1%;
    padding-left: 2%;
    padding-right: 2%;
}
.my-class{
    border: 2px solid red;
    border-radius: 5px;
}