<body>
  <div class="container">
    <div class="row" id="box-top">
      <h1 class="mx-auto">To Do List</h1>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6"></div>
      <div class="col-3">
        <app-dialog></app-dialog>
      </div>
    </div>
    <div class="row mx-auto" id="box-mid">
      <div class="col-md-2">
      </div>
      <div class="col-md-8" id="show-message">
        <div id="box-message">
          <div *ngFor="let text of texts;let i=index">
            <div><p id="message" >Message : {{text.message}}</p></div>
            <div><p id="date" >Due Date: {{text.date}}</p></div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button (click)="showText()">กด</button>
      </div>
    </div>
  </div>
</body>